

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.app.blue .mat-card {
    border: none;
}

.lgpg{
    background: #faf2d8 !important;
    border: 1px solid #8ebedd;
    padding: 15px;
    margin-top: 25%;
}

.bgimg{
    background-image: url('../../../assets/images/bg/back1.jpg') !important;  
    background-repeat: no-repeat  !important;  
    background-size: 100% 100% !important;  
    height: -webkit-fill-available !important;
}