<mat-card class="bgimg">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="33.33" class="p-2"></div>

        <div fxFlex="100" fxFlex.gt-sm="33.33" class="p-4">

            <div class="lgpg pt-4" fxFlex="100">
                <i class="fa fa-arrow-circle-left" aria-hidden="true" style="font-size: 25px;" [routerLink]="['/login']"
                    matTooltip="Back To Login"></i>
                <h2 class="text-muted text-center">
                    <img src="assets/lg.png" style=" width: 200px;" class="img1" alt="cinque terre"> <sup
                        style="font-size: 13px;"></sup>
                </h2>
                <h2 class="text-muted text-center" style="color:#7c6100 !important">FORGOT PASSWORD ?</h2>

                <form [formGroup]="loginForm" (ngSubmit)="forgotUser(loginForm.value)" fxLayout="row wrap">
                    <mat-form-field appearance="outline" class="w-100 mt-2">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email" required>
                        <mat-error *ngIf="loginForm.controls.email.errors?.required">Email is required</mat-error>
                        <mat-error *ngIf="loginForm.controls.email.hasError('invalidEmail')">Please enter valid email
                            address
                        </mat-error>
                    </mat-form-field>

                    <div class="text-center mt-2" fxFlex="100">
                        <button style="background-color: #d58408;" mat-raised-button color="primary" class="submit">
                            <mat-label>CONTINUE</mat-label>
                        </button>
                    </div>

                </form>

                <br />
            </div>

        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.33" class="p-2"></div>
    </div>
</mat-card>