<div class="p-1">
    <mat-card class="p-0">
        <div fxLayout="row wrap " fxLayoutAlign="space-between" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Content Comment List</h2>
            <table class="tblsearch">
                <tr>
                    <td class="tdsearch"> <span class="fa fa-search searchtext-icon"></span>
                        <input matInput type="text" class="searchtext" placeholder="Search ..." name="username"
                            [(ngModel)]="username" (input)="Search()" (keyup)="Search()" (ngModelChange)="Search()">
                    </td>
                </tr>
            </table>
        </div>
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <div class="mat-header-row">
                <div class="mat-header-cell">User Name</div>
                <div class="mat-header-cell">Device Id/Mac Id</div>
                <div class="mat-header-cell">Like</div>
                <div class="mat-header-cell">Comment</div>
                <div class="mat-header-cell">Share</div>
                <div class="mat-header-cell">Content Type</div>
                <div class="mat-header-cell">Is Public</div>
                <div class="mat-header-cell text-center" fxFlex.gt-sm="10">Action</div>
            </div>
            <div *ngFor="let comment of CommentList | paginate: { itemsPerPage: count, currentPage: page }"
                class="mat-row">
                <div class="mat-cell">{{comment.fullName}}
                </div>
                <div class="mat-cell" matTooltip="{{comment.deviceId}}">{{comment.deviceId| slice:0:10}}
                    {{comment.deviceId.length > 40 ? '...' : ' '}}</div>
                <div class="mat-cell"> <ng-container *ngIf="comment.liked; else noApproval">{{'Yes'}}</ng-container>
                    <ng-template #noApproval>{{'No'}}</ng-template>
                </div>
                <div class="mat-cell" matTooltip="{{comment.comment1}}">{{comment.comment1| slice:0:10}}
                    {{comment.deviceId.length > 40 ? '...' : ' '}}</div>
                <div class="mat-cell"> <ng-container *ngIf="comment.shared; else noApproval">{{'Yes'}}</ng-container>
                    <ng-template #noApproval>{{'No'}}</ng-template>
                </div>
                <div class="mat-cell">{{comment.contentTypeName}}
                </div>
                <div class="mat-cell"> <ng-container *ngIf="comment.isPublic; else nonPublic">{{'Yes'}}</ng-container>
                    <ng-template #nonPublic>{{'No'}}</ng-template>
                </div>
                <div class="mat-header-cell text-center" fxFlex.gt-sm="10">
                    <div class="text-center" fxFlex.gt-sm="33.33">
                        <a (click)="openDialogView(comment.commentId)" mat-mini-fab color="accent" matTooltip="view">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="text-center" fxFlex.gt-sm="33.33"
                        [style.visibility]="comment.parentCommentId > 0 ? 'hidden' : 'visible'">
                        <a (click)="openDialog(comment.commentId)" mat-mini-fab color="primary" matTooltip="Reply">
                            <i class="fa fa-commenting-o" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="text-center" fxFlex.gt-sm="33.33">
                        <button (click)="deleteservice(comment);" mat-mini-fab color="warn" matTooltip="Delete"
                            class="mx-1"><i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div *ngIf="CommentList.length > 0" fxLayout="row wrap">
            <div fxFlex="100" class="p-1">
                <mat-card class="p-0 text-center nobxshbrd">
                    <pagination-controls class="product-pagination" autoHide="true" maxSize="5"
                        (pageChange)="onPageChanged($event)"></pagination-controls>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>