<div class="p-1">
    <mat-card class="p-0">
        <div fxLayout="row wrap " fxLayoutAlign="space-between center" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Add Player Data</h2>
        </div>
        <form [formGroup]="uploadForm" (ngSubmit)="Submit(uploadForm.value)">
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px" class="container">
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="33%" class="block-2">
                        <div fxFlex.gt-sm="32.9%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Player Name </mat-label>
                                <mat-select formControlName="playerId" required>
                                    <mat-option *ngFor="let player of PlayerList"
                                        [value]="player.playerId">
                                        <span>{{player.playerName}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="uploadForm.controls.playerId.errors?.required">Please select
                                    Player Name</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
                            <div appearance="outline" class="w-100 sgln0">
                                <mat-label>Splash Screen Upload (.mp4)<span class="mat-placeholder-required">*</span></mat-label><br />
                                <input type="file" class="input1_height" accept="video/*"
                                (change)="handleFileSelectSplash($event)" #fileInput1 required />
                            <mat-error style="font-size: 11px;"
                                *ngIf="!selectedFileSplash&& !isFileUploadedSplash&& !playerDataId">Splash Screen is
                                required.</mat-error>     
                                <mat-error style="font-size: 12px;" *ngIf="invalidspashfileType">Invalid Splash Screen File Type.</mat-error>
                 
                            </div>
                        </div>
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
                            <div appearance="outline" class="w-100 sgln0">
                                <mat-label>Logo Upload (.jpg/.jpeg/.png)<span class="mat-placeholder-required">*</span></mat-label><br />
                                <input (change)="handleFileSelectLogo($event)" type="file" class="input1_height"
                                accept="image/*" #fileInput1 required />
                            <mat-error style="font-size: 11px;"
                                *ngIf="!selectedFileLogo&& !isFileUploadedLogo&& !playerDataId">Logo
                                is required</mat-error>
                                <mat-error style="font-size: 12px;" *ngIf="invalidlogofileType">Invalid Logo File Type.</mat-error>

                            </div>
                        </div>

                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
                            <div appearance="outline" class="w-100 sgln0">
                                <mat-label>Slider Image Upload (.jpg/.jpeg/.png) (Maximum 5 Files)<span class="mat-placeholder-required">*</span></mat-label><br />
                                <input (change)="handleFileSelectSlide($event)" multiple type="file" class="input1_height"
                                accept="image/*" #fileInput1 required />
                            <mat-error style="font-size: 11px;"
                                *ngIf="!selectedFileSlide&& !isFileUploadedSlide&& !playerDataId">Slider Image
                                is required</mat-error>

                            </div>
                        </div>
                    </div>
                    <!-- hiddenfield -->
                    <input formControlName="playerDataId" matInput hidden>
                    <br>
                </div>
            </mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-2 crdfooter">
                <div fxLayout="" fxLayoutGap="10px" class="container">
                    <div fxFlex="50%" class="text-left">
                        <button [routerLink]="['/admin/im10salesadmin/listplayerdata']" mat-raised-button color="accent" type="button" class="crbtn"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> BACK</button>
                        <button [disabled]="playerDataId ? false : (!uploadForm.valid || !selectedFileSplash || !selectedFileLogo || !selectedFileSlide)"
                        mat-raised-button color="primary" type="submit" class="crbtn"><i class="fa fa-floppy-o"
                            aria-hidden="true"></i> SUBMIT</button>
                    </div>
                    <div fxFlex="50%" class="text-right">
                        <h4 class="crdtip">Tip : (*) fields are mandatory.</h4>
                    </div>
                </div>
            </div>

        </form>
    </mat-card>
</div>
