<div class="p-1">
    <mat-card class="p-0">

        <div fxLayout="row wrap " fxLayoutAlign="space-between center" class="w-100 p-2 crdhead">

            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; User Player List</h2>

            <table class="tblsearch">
                <tr>
                    <td class="tdsearch"> <span class="fa fa-search searchtext-icon"></span>
                        <input matInput type="text" class="searchtext" placeholder="Search..." name="username"
                            [(ngModel)]="username" (input)="Search()" (keyup)="Search()" (ngModelChange)="Search()">
                    </td>
                    <td class="tdbtn">
                        <button mat-raised-button color="primary" type="button" (click)="openDialog(null)"
                            class="crbtn"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; ADD</button>
                    </td>
                </tr>
            </table>

        </div>

        <mat-divider></mat-divider>

        <div class="mat-table admin-table">

            <div class="mat-header-row">
                <div class="mat-header-cell" fxFlex="40%">User</div>
                <div class="mat-header-cell" fxFlex="40%">Player Name</div>
                <div class="mat-header-cell text-center" fxFlex="20%">Action</div>
            </div>

            <div *ngFor="let user of UserList | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row">
                <div class="mat-cell" fxFlex="40%">{{user.userFullName}} ({{user.roleName}})</div>
                <div class="mat-cell" fxFlex="40%">{{user.fullName}}</div>
                <div class="mat-cell text-center" fxFlex="20%">
                    <a (click)="openDialog(user.userPlayerId)" mat-mini-fab color="primary" matTooltip="Edit"><i
                            class="fa fa-pencil" aria-hidden="true"></i></a>
                    <button (click)="deleteservice(user); " mat-mini-fab color="warn" matTooltip="Delete"
                        class="mx-1"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
            </div>

        </div>

        <mat-divider></mat-divider>
        <div *ngIf="UserList.length > 0" fxLayout="row wrap">
            <div fxFlex="100" class="p-1">
                <mat-card class="p-0 text-center nobxshbrd">
                    <pagination-controls class="product-pagination" autoHide="true" maxSize="5"
                        (pageChange)="onPageChanged($event)"></pagination-controls>
                </mat-card>
            </div>
        </div>
    </mat-card>

</div>