<div class="p-1">
    <mat-card class="p-0">
        <div fxLayout="row wrap " fxLayoutAlign="space-between" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Player Data List</h2>
            <table class="tblsearch">
                <tr>
                    <td class="tdsearch"> <span class="fa fa-search searchtext-icon"></span>
                        <input matInput type="text" class="searchtext" placeholder="Search..." name="playername"
                            [(ngModel)]="playername" (input)="Search()" (keyup)="Search()" (ngModelChange)="Search()">
                    </td>
                    <td class="tdbtn">
                        <button mat-raised-button color="primary" class="crbtn" type="button" [routerLink]="['../addeditplayerdata']">
                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;ADD</button>
                    </td>
                </tr>
            </table>
        </div>
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <div class="mat-header-row">
                <div class="mat-header-cell">Player Name</div>
                <div class="mat-header-cell text-center">File</div>
                <div class="mat-header-cell" >File Category Type</div>
                <div class="mat-header-cell text-center" fxFlex.gt-sm="10">Action</div>
            </div>
            <div class="mat-row" *ngFor="let item of PlayerDataList | paginate: { itemsPerPage: count, currentPage: page }">
                <div class="mat-cell">{{item.playerName}}</div>
                <div class="mat-cell text-center"><a href="{{item.filePath}}" class="mat-cell " target="_blank"
                    style="color: #a08820;">View</a></div>
                <div class="mat-cell" *ngIf="item.fileCategoryTypeId == 1">Splash Screen</div>
                <div class="mat-cell" *ngIf="item.fileCategoryTypeId == 2">Logo</div>
                <div class="mat-cell" *ngIf="item.fileCategoryTypeId == 3">Slide Image</div>
                <div class="mat-cell text-center" fxFlex.gt-sm="10">
                    <!-- <a [routerLink]="['../addeditplayerdata',item.playerDataId]" mat-mini-fab color="primary" matTooltip="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a> -->
                    <button (click)="deletePlayerData(item)" mat-mini-fab color="warn" matTooltip="Delete" class="mx-1"><i
                        class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row wrap">
            <div fxFlex="100" class="p-1">
                <mat-card class="p-0 text-center nobxshbrd">
                    <pagination-controls class="product-pagination" autoHide="true" maxSize="5"
                    (pageChange)="onPageChanged($event)"></pagination-controls>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>
