<h2 class="mat-dialog-title">{{ uploadForm.value.marketingCampaignId ? 'Edit' : 'Add' }} Campaign</h2>

<mat-dialog-content class="mat-typography">

    <form [formGroup]="uploadForm">

        <div fxLayout="column" class="container">
            <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="33%" class="block-2 ">
                <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                    class="grid-item">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Title </mat-label>
                        <input formControlName="title" matInput required (keydown)="titlekeyDown($event)">
                        <mat-error *ngIf="uploadForm.controls.title.errors?.required">Please enter
                            title</mat-error>
                        <mat-error *ngIf="uploadForm.controls.title.hasError('minlength')">Title at
                            least 3 characters long</mat-error>
                        <mat-error *ngIf="uploadForm.controls.title.hasError('maxlength')">Title at
                            most 100 char long</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                    class="grid-item">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Content Title</mat-label>
                        <mat-select formControlName="contentId" required>
                            <mat-option *ngFor="let content of ContentList" [value]="content.contentId">
                                <span>{{content.title}}</span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="uploadForm.controls.contentId.errors?.required">Please select
                            Content Title</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                    class="grid-item">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Content Type</mat-label>
                        <mat-select formControlName="contentTypeId" required>
                            <mat-option *ngFor="let content of ContenttypeList" [value]="content.contentTypeId">
                                <span>{{content.contentName}}</span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="uploadForm.controls.contentTypeId.errors?.required">Please select
                            Content Type</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="33%" class="block-2 mttop20">
                <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Description</mat-label>
                        <textarea formControlName="description" matInput required (keydown)="titlekeyDown($event)"></textarea>
                        <mat-error *ngIf="uploadForm.controls.description.errors?.required">Please enter
                            Description</mat-error>
                        <mat-error *ngIf="uploadForm.controls.description.hasError('minlength')">Description at
                            least 3 characters long</mat-error>
                        <mat-error *ngIf="uploadForm.controls.description.hasError('maxlength')">Description at
                            most 200 char long</mat-error>
                    </mat-form-field>
                </div>

                <!-- Hidden Field -->
                <input formControlName="marketingCampaignId" matInput hidden>

            </div>
        </div>

    </form>

</mat-dialog-content>

<mat-dialog-actions>
    <div fxFlex="50%" class="text-left">
        <button (click)="closeDialog()" mat-raised-button color="accent" type="button" class="crbtn"> <i
                class="fa fa-ban" aria-hidden="true"></i> CANCEL</button>
        <button [disabled]="!uploadForm.valid" (click)="Submit(uploadForm.value)" mat-raised-button color="primary"
            type="submit" class="crbtn"><i class="fa fa-floppy-o" aria-hidden="true"></i>
            {{uploadForm.value.marketingCampaignId ? 'UPDATE' : 'SUBMIT'
            }}</button>
    </div>
    <div fxFlex="50%" class="text-right">
        <h4 class="crdtip">Tip : (*) fields are mandatory.</h4>
    </div>
</mat-dialog-actions>