<div class="p-1">
    <mat-card class="p-0">

        <div fxLayout="row wrap " fxLayoutAlign="space-between center" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Error / Issue Log List</h2>
            <table class="tblsearch">
                <tr>
                    <td class="tdsearch"> <span class="fa fa-search searchtext-icon"></span>
                        <input matInput type="text" class="searchtext" placeholder="Search ..." name="title"
                            [(ngModel)]="title" (input)="Search()" (keyup)="Search()" (ngModelChange)="Search()">
                    </td>
                </tr>
            </table>
        </div>

        <mat-divider></mat-divider>

        <div class="mat-table admin-table">

            <div class="mat-header-row">
                <div class="mat-header-cell">Error</div>
                <div class="mat-header-cell">Description</div>
                <div class="mat-header-cell">Username</div>
                <div class="mat-header-cell text-center" fxFlex.gt-sm="10">Action</div>
            </div>

            <div *ngFor="let content of ErrorList | paginate: { itemsPerPage: count, currentPage: page }"
                class="mat-row">
                <div class="mat-cell" matTooltip="{{content.logMessage}}" matTooltipPosition="below"
                    matTooltipClass="custom-tooltip">{{content.logMessage| slice:0:40}}
                    {{content.logMessage.length > 40 ? '' : ' '}}</div>

                <div class="mat-cell" matTooltip="{{content.additionalInformation}}" matTooltipPosition="below"
                    matTooltipClass="custom-tooltip">{{content.additionalInformation| slice:0:40}}
                    {{content.additionalInformation.length > 40 ? '' : ' '}}</div>

                <div class="mat-cell">{{content.fullName}}</div>

                <div class="mat-cell text-center" fxFlex.gt-sm="10">

                    <a (click)="downloadFile(content.logId)" mat-mini-fab color="primary" matTooltip="Download"><i
                            class="fa fa-download" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>

        <mat-divider></mat-divider>

        <div *ngIf="ErrorList.length > 0" fxLayout="row wrap">
            <div fxFlex="100" class="p-1">
                <mat-card class="p-0 text-center nobxshbrd">
                    <pagination-controls class="product-pagination" autoHide="true" maxSize="5"
                        (pageChange)="onPageChanged($event)"></pagination-controls>
                </mat-card>
            </div>
        </div>

    </mat-card>

</div>