<div class="p-1">
    <mat-card class="p-0">
        <div fxLayout="row wrap " fxLayoutAlign="space-between center" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;{{ advertiseContentId ? 'Edit' : 'Add' }} Advertise
                Content</h2>
        </div>

        <form [formGroup]="uploadForm" (ngSubmit)="Submit(uploadForm.value)" autocomplete="off">

            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px" class="container">

                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="33%" class="block-2">
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Title</mat-label>
                                <input formControlName="title" matInput required (keydown)="titlekeyDown($event)">
                                <mat-error *ngIf="uploadForm.controls.title.errors?.required">Please enter
                                    title</mat-error>
                                <mat-error *ngIf="uploadForm.controls.title.hasError('minlength')">Title at
                                    least 3 characters long</mat-error>
                                <mat-error *ngIf="uploadForm.controls.title.hasError('maxlength')">Title at
                                    most 100 char long</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Start Date</mat-label>
                                <input formControlName="startDate" [matDatepicker]="startDatePicker" matInput required>
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #startDatePicker></mat-datepicker>
                                <mat-error *ngIf="uploadForm.controls.startDate.errors?.required">Start Date Is
                                    Required</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>End Date</mat-label>
                                <input formControlName="endDate" [matDatepicker]="endDatePicker" matInput required
                                    [min]="uploadForm.controls.startDate.value">
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #endDatePicker></mat-datepicker>
                                <mat-error *ngIf="uploadForm.controls.endDate.errors?.required">End Date Is
                                    Required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.endDate.errors?.endDateBeforeStartDate">End date
                                    must be after start date</mat-error>
                            </mat-form-field>
                        </div>

                    </div>

                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="33%"
                        class="block-2 mttop20">

                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <div appearance="outline" class="w-100 sgln">
                                <mat-label>Advertise Content Upload (.mp4/.jpg/.jpeg/.png)<span
                                        class="mat-placeholder-required">*</span></mat-label><br />
                                <input type="file" class="input1_height" accept="video/*,image/*"
                                    (change)="handleFileSelect($event)" #fileInput required />
                                <mat-error style="font-size: 12px;"
                                    *ngIf="!selectedFile&& !isFileUploaded&& !advertiseContentId">Advertise Content is
                                    required.</mat-error>
                                <mat-error style="font-size: 12px;" *ngIf="fileSizeError">File size must be less than
                                    50 MB.</mat-error>
                                    <mat-error style="font-size: 12px;" *ngIf="invalidfileType">Invalid File Type.</mat-error>

                            </div>
                        </div>

                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Content Type</mat-label>
                                <mat-select formControlName="contentTypeId" required>
                                    <mat-option *ngFor="let content of ContenttypeList" [value]="content.contentTypeId">
                                        <span>{{content.contentName}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="uploadForm.controls.contentTypeId.errors?.required">Please select
                                    Content Type</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Final Price <span
                                        style="font-family: Arial, sans-serif;">(₹)</span></mat-label>
                                <input (keypress)="keyPressOnlynum($event)" formControlName="finalPrice" maxlength="8"
                                    matInput required>
                                <mat-error *ngIf="uploadForm.controls.finalPrice.errors?.required">Please enter
                                    final price</mat-error>
                            </mat-form-field>
                        </div>

                    </div>

                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="33%"
                        class="block-2 mttop20">
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Country</mat-label>
                                <mat-select formControlName="nationId" required
                                    (selectionChange)="onChangeCountry($event)">
                                    <mat-option *ngFor="let nation of country" [value]="nation.countryId">
                                        <span>{{nation.name}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="uploadForm.controls.nationId.errors?.required">Please select
                                    Country</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>State</mat-label>
                                <mat-select formControlName="stateId" required
                                    (selectionChange)="onChangeState($event)">
                                    <mat-option *ngFor="let state of states" [value]="state.stateId">
                                        <span>{{state.name}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="uploadForm.controls.stateId.errors?.required">Please select
                                    State</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>City</mat-label>
                                <mat-select formControlName="cityId" required [value]="uploadForm.get('cityId').value">
                                    <mat-option *ngFor="let city of cities" [value]="city.cityId">
                                        <span>{{city.name}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="uploadForm.controls.cityId.errors?.required">Please select
                                    City</mat-error>
                            </mat-form-field>
                        </div>

                    </div>

                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="33%"
                        class="block-2 mttop20">
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">

                            <div appearance="outline" class="w-100 sglnb">
                                <br>
                                <mat-label>Is Free ? <span class="mat-placeholder-required"></span></mat-label>
                                <mat-slide-toggle formControlName="isFree" color="primary" class="mttop20"
                                    [checked]="isFree" (change)="onCheckBoxChange($event)"> </mat-slide-toggle>
                            </div>

                        </div>
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                            <div appearance="outline" class="w-100 sglnb">
                                <br>
                                <mat-label>Is Global ? <span class="mat-placeholder-required"></span></mat-label>
                                <mat-slide-toggle formControlName="isGlobal" color="primary" class="mttop20"
                                    [checked]="isGlobal" (change)="onCheckBoxChangeisGlobal($event)">
                                </mat-slide-toggle>
                            </div>
                        </div>

                        <!-- hiddenfield -->
                        <input formControlName="advertiseContentId" matInput hidden>

                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">

                        </div>
                    </div>

                </div>

            </mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-2 crdfooter">
                <div fxLayout="" fxLayoutGap="10px" class="container">
                    <div fxFlex="50%" class="text-left">
                        <button [routerLink]="['/admin/salespersonadmin/listadvertisecontent']" mat-raised-button
                            color="accent" type="button" class="crbtn"> <i class="fa fa-arrow-circle-left"
                                aria-hidden="true"></i>
                            BACK</button>
                        <button [disabled]="advertiseContentId ? false : (!uploadForm.valid || !selectedFile)"
                            mat-raised-button color="primary" type="submit" class="crbtn"><i class="fa fa-floppy-o"
                                aria-hidden="true"></i> {{ advertiseContentId ? 'UPDATE' : 'SUBMIT' }}</button>
                    </div>
                    <div fxFlex="50%" class="text-right">
                        <h4 class="crdtip">Tip : (*) fields are mandatory.</h4>
                    </div>
                </div>
            </div>

        </form>

    </mat-card>
</div>